* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") center / cover no-repeat border-box;
  width: 100vw;
  height: 33vh;
  margin-top: 3.75rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  width: 50vw;
  font-size: 1.6rem;
}

/* Media queries for Desktop version of the website */

@media (min-width: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #1f3b1f;
  text-align: center;
}

.plan {
  background-color: #ebc682;
  color: white;
  font-weight: bolder;
  padding: 1rem;
  margin: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.plan__title {
  color: #1d491d;
}

.plan--highlighted {
  background-color: #ffbb3c;
}

.plan__annotation {
  background-color: white;
  color: #1f3b1f;
  border-radius: 3px;
  padding: 0.4rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__price {
  color: #868f86;
}

.plan--highlighted .plan__price {
  color: #1d491d;
}

.plan__detail {
  margin: 8px 0;
  font-weight: lighter;
}

.plan__details {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    text-align: center;
  }
  .plan {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  }
  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

#key-features {
  background-color: #1f3b1f;
  color: white;
  margin-top: 5.5rem;
  padding: 1rem;
  text-align: center;
}

#key-features > .section-title {
  color: white;
  padding: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  width: 100%;
  vertical-align: top;
}

.key-feature__image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-color: #ffbb3c;
  border: 2px solid white;
  padding: 1.6rem;
  border-radius: 50%;
}

.key-feature__description {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

@media (min-width: 40rem) {
  .key-feature {
    display: inline-block;
    width: 30%;
    max-width: 25rem;
    vertical-align: middle;
  }
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 50%;
  background-color: white;
  padding: 1.5rem;
  border: 1px solid darkgreen;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  background: darkgreen;
  border: 1px solid darkgreen;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:active,
.modal__action:hover {
  background: white;
  color: darkgreen;
}

.modal__action--negative {
  background-color: red;
  color: white;
  border-color: red;
}

.modal__action--negative:active,
.modal__action--negative:hover {
  background: white;
  color: red;
  border-color: red;
}
